<%= content_tag(:div, class: 'restaurant panel', id: dom_id(restaurant), data: {id: restaurant.id, name: restaurant.name, lat: restaurant.lat, long: restaurant.long }) do %>

<h4><%= restaurant.name %></h4>
<h6><%= restaurant.address %> <%= restaurant.zip %></h6>

<%= link_to "View", restaurant %>

<% end %>