<!DOCTYPE html>
<html>
<head>
  <title>DinrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div id='nav'>
<%= link_to 'Home', root_path %>
<% unless logged_in? %>
  <%= link_to "Login or Sign Up", new_user_path %>
<% else %>
  <%= link_to "Logout", '/session', method: :delete %>
<% end %>
</div>
<%= yield %>
</body>
</html>
